
@media only screen and (max-width: 700px) {
    
    .navbar {
        background-color: #009aa58a;
        height: 80px;
        box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, .42);
        align-items: center;

    }


    .navbar .menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 68px;
        background-color: #009aa58a;
        height: 60vh;
        left: -1em;
        transform: translateY(-130%);
        transition: all .6s;
    }

    .navbar .menu-toggle{
        transform: translateY(0%);
    }



    .menu li {
        margin-top: 2em;
    }

    .navbar .menu-bar{
        display: block;
        font-size: 2em;
        color: #fff;
        cursor: pointer;
    }

    /*  SECCION DEL MAIN */

    .main {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        width: 100%;
        text-align: center;
        height: 70vh;
    }

    .main img {
        width: 20em;
    }

    .main h1{
        margin-top: -60px;
    }

    /*.main, .button-contenido {
        display: flex;
        flex-direction: column;

    }*/

}