*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background: #f1f1f1;
}

.container{
    width: 100%;
    height: 100vh;
    padding: 20px;
    border-radius: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.login-container{
    display: flex;
    width: auto;
    height: auto;
    background: #fff;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .2);
}

.login .link-login {
    flex: 1;
}

.login{
    padding: 40px;
    position: relative;

}

.login h2{
    color: #797979;
    margin-bottom: 20px;
}

.login input {
    width: 100%;
    padding: 5px;
    font-size: 20px;
    margin-bottom: 30px;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom: 1px solid #a8a8a8;
    color: #333;

}

.login input:active,
.login input :focus{
    outline: none;
}


.login .submit{
    width: auto;
    padding: 10px;
    background: #004d7a;
    color: #f1f1f1;
    font-size: 20px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2);
    cursor: pointer;
}

.container .login-container .submit{
    transform: translateX(280px);
    padding: 20px;
}


.login::after{
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    top: 49%;
    right: -24px;
    padding: 12px;
    text-align: center;
    font-size: 19px;
    background: #fff;
    border-radius: 100%;
    transform: translateY(-50%);
    box-shadow: -1px 1px 3px 1px rgba(0, 0, 0, .4);
    color: #7c7c77;
    
}


.link-login{
    background-image: linear-gradient(to right, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    padding: 40px;
}

.link-login h2{
    color: #fff;
    margin-bottom: 45px;
}

.link-login button i{
    position: absolute;
    top: 12px;
    left: 12px;
}

.link-login button{
    width: 100%;
    margin: 15px 0px;
    padding: 10px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2);
    cursor: pointer;
    position: relative;
}

.link-login .fb{
    background: #3b5999;
    border-style: none;
    color: #fff;
    font-size: 20px;
}

.link-login .correo{
    background: #f00;
    border-style: none;
    color: #fff;
    font-size: 20px;
}

.container .link-login .fb .btn-fb, .btn-correo{
    text-decoration: none;
    color: #fff;
}