*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-image: url(../img/shoe1.jpg);
    background-size:cover;

}

.form{
    width: 400px;
    background: rgba(255, 255, 255, 0.74);
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
}

.form h4{
    font-size: 22px;
    color: #797979;
    margin-bottom: 30px;

}

.control{
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 15px;
    border: 1px solid;
    font-size: 18px;
}


.form p{
    height: 40px;
    text-align: center;
    font-size: 18px;
}

.form a{
    text-decoration: none;
    color: #797979;
}

.form a:hover{
    text-decoration: underline;
    color: #797979;
}


.form .boton{
    width: 100%;
    background: #004d7a;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0px;
    font-size: 18px;
}














.link-login{
    width: 100%;
    height: 120px;
    display:flex;
    justify-content:center;
    align-items:center;
    box-shadow: #797979;
    margin-top: 3px;
    margin-bottom: 20px;
    border-radius: 10px;
}


.link-login button i{
    position:absolute;
    top: 12px;
    left: 12px;
}

.link-login button{
    width: 100%;
    margin: 5px 0px;
    padding: 10px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2);
    cursor: pointer;
    position:relative;
}

.link-login .fb{
    background: #3b5999;
    border-style: none;
    color: #fff;
    font-size: 20px;
    align-items: center;
    
}

.link-login .correo{
    background: #f00;
    border-style: none;
    color: #fff;
    font-size: 20px;
    align-items: center;
    
}

.link-login .btn-fb {
    text-decoration: none;
    color: white;
}

.link-login .btn-correo {
    text-decoration: none;
    color: white;
}